name: Lint

on:
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/lint.yml'

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      -
        name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.5
          architecture: x64
      -
        name: Checkout PyTorch
        uses: actions/checkout@master
      -
        name: Install flake8
        run: pip install flake8
      -
        name: Run flake8
        uses: julianwachholz/flake8-action@v2
        with:
          checkName: 'linting'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
